.calculator-container {
    background-color: gray;
    border: solid 2px violet;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
}

.result-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 30px;
    height: 50px;
    background-color: rgb(27, 27, 27);
    align-items: center;
    display: flex;
    justify-content: right;
    color: gray;
    font-size: 40px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    width: 20%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;

}
.calculator {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}